# Betimsel İstatistikler

### Ortalama
#### Bir veri kümesinin elemanlarının toplamının eleman sayısına bölünmesi sonucu bulunan bir değerdir. Verilerin dağılımını ve elemanların genel trendlerini belirlemek için kullanılan bir ölçüt olarak ortalama, veri analizi ve istatistikte sıkça kullanılan bir kavramdır. Örnek olarak, bir sınıftaki öğrencilerin not ortalaması gibi.

## ---------------------------------------------------------------------------------------

### Medyan
#### Bir veri kümesindeki değerlerin sıralandıktan sonra ortadaki değerdir. Eğer veri kümesi eleman sayısı çift ise, ortadaki iki değerin ortalaması alınır. Medyan, ortalama gibi verilen dağılımını ve elemanların genel trendlerini belirlemek için kullanılan bir ölçüt olarak, veri analizi ve istatistikte sıkça kullanılan bir kavramdır. Örneğin, bir sınıftaki öğrencilerin not medyası gibi. Fakat farklı veri kümelerinde ortalama ile medyan arasında farklılık gösterebilir ve verilerin dağılımına göre birinin diğerinden daha uygun olduğu durumlar olabilir.

## ----------------------------------------------------------------------------------------

### Mod
#### Bir tam sayının diğer bir tam sayıya bölümünden kalanı ifade eder. Mod operatörü (%), veri analizi ve istatistikte sıkça kullanılan bir işlemdir. Örneğin, 7 mod 3 = 1 ifadesi 7 sayısının 3'e bölümünden kalan 1'i ifade eder. Mod, verilerin belirli aralıklarda gruplandırılması, verilerin belirli bir değere yakınlığının belirlenmesi veya verilerin belirli bir periyodik döngü içinde incelenmesi gibi durumlarda kullanılabilir.

## ---------------------------------------------------------------------------------------

### Kuartil
#### Bir veri kümesinin elemanlarının sıralandıktan sonra, verilerin %25'ini, %50'sini ve %75'ini ifade eder. Bunlar sırasıyla birinci kuartil (Q1), medyan ve üçüncü kuartil (Q3) olarak adlandırılır ve verilerin dağılımı hakkında bilgi verir.

## ---------------------------------------------------------------------------------------

### Değişim Aralığı
#### Bir veri kümesindeki en küçük ve en büyük değer arasındaki farkı ifade eder. Değişim aralığı, verilerin dağılımı hakkında genel bir fikir verir ve verilerin ne kadar dağınık olduğunu gösterir. Matematiksel olarak, değişim aralığı verilerin en büyük değeri (X_max) ile en küçük değeri (X_min) arasındaki fark olarak hesaplanır:
#### Değişim Aralığı = X_max - X_min
#### Değişim aralığı, verilerin yapısı hakkında fikir vermek için kullanılan diğer ölçütler gibi medyan, ortalam ve kuartil ile birlikte kullanılabilir.

## -----------------------------------------------------------------------------------------

### Standart Sapma
#### Bir veri kümesindeki değerlerin ortalamadan ne kadar uzak olduğunu ölçen bir göstergedir. Standart sapma, verilerin dağılımı hakkında genel bir fikir verir ve verilerin ne kadar dağınık olduğunu gösterir. Matematiksel olarak, standart sapma bir veri kümesindeki n elemanın ortalaman (μ) uzaklıklarının karelerinin ortalamasının karekökü olarak hesaplanır.
#### σ = √( (1/n) * Σ ( x_i - μ )^2 )
#### Burada x_i veri kümesindeki her bir eleman için verilir ve Σ (x_i - μ)^2 verilerin ortalamadan uzaklıklarının karelerinin toplamıdır. Standart sapma, verilerin ortalama hakkında daha detaylı bilgi verir ve verilerin ne kadar dağınık olduğunu gösterir.

### İstatistikte Standart Sapma Ne İşe Yarar ?
#### Bir değişkenin verilerinin ortalamadan sapmalarının bir ölçüsüdür ve varyansın karekökü olarak hesaplanır. Standart sapma, verilerin dağılımının ne kadar geniş olduğunu gösterir ve verilerin ortalamadan ne kadar uzaklaştıklarını ölçer. Aynı zamanda, standart sapma, verilerin olasılık dağılımlarını tanımlamada ve veriler arasındaki farklılıkları ölçmede de kullanılır. Standart sapma, verilerin birimlerinde ölçülür ve varyans gibi, veriler arasındaki farklılığı ölçer.

## --------------------------------------------------------------------------------------

### Varyans
#### Bir veri kümesindeki değerlerin ortalamadan ne kadar uzak olduğunu ölçen bir göstergedir. Varyans, verilerin dağılımı hakkında genel bir fikir verir ve verilerin ne kadar dağınık olduğunu gösterir. Matematiksel olarak, varyans bir veri kümesindeki n elemanın ortalamadan (μ) uzaklıklarının karelerinin ortalaması olarak hesaplanır.
#### V = (1/n) * Σ ( x_i - μ )^2
#### Burada x_i veri kümesindeki her bir eleman için verilir ve  Σ (x_i - μ)^2 verilerin ortalamadan uzaklıklarının karelerinin toplamıdır. Varyans, standart sapma'nın karekökü olarak tanımlanır ve verilerin ne kadar dağınık olduğunu gösterir

### İstatistikte Varyans Ne İşe Yarar ?
#### Bir değişkenin değerlerinin dağılımı hakkında bilgi verir ve bir değişkenin verilerinin ortalamadan sapmalarının ne kadar büyük olduğunu ölçer. Bu sapmaların büyüklüğü, değişkenin verilerinin dağılımı hakkında bilgi verir ve varyansın büyüklüğü, verilerin ortalamadan ne kadar uzaklatıklarını gösterir. Bu da verilerin ne kadar yaygın bir dağılıma sahip olduuğunu ve ne kadar değişken olduğunu gösterir. Ayrıca varyans, veriler arasındaki farklılıkların ölçülmesinde de kullanılır.

## ---------------------------------------------------------------------------------------

### Kovaryans
#### İki değişken arasındaki lineer ilişkinin miktarını ölçen bir istatistiktir. Pozitif kovaryans, iki değişkenin birlikte artmasına işaret eder, negatif kovaryans ise iki değişkenin birlikte azalmasına işaret eder. Kovaryans, değişkenlerin ortalamalarından kopukluklarının büyüklüğünü ölçer ve birimleri değişkenlerin birimleridir.

### İstatistikte Kovaryans Ne İşe Yarar ?
#### İki değişken arasındaki lineer ilişki gücünü ölçer ve bu iki değişkenin birbirine olan etkisini gösterir. Kovaryans, iki değişken arasındaki ilişkinin yönünü belirtmez, ancak pozitif bir değer iki değişkenin birlikte artmasına, negatif bir değer ise iki değişkenin birlikte azalmasına işaret eder. Kovaryans, verilerin birimlerinde ölçülür ve birimi yoktur. Kovaryans, veriler arasındaki farklılıkları ölçmek ve verilerin olasılık dağılımlarını tanımlamak için kullanılabilir.

## --------------------------------------------------------------------------------------

### Korelasyon
#### İki değişken arasındaki lineer ilişkinin yönünü ve gücünü ölçen bir istatistiktir. Korelasyon, -1 ile 1 arasında bir değere sahiptir ve sıfır ile negatif olana dek değişkenler arasında ters bir ilişki, pozitif olana dek ise doğru bir ilişki olduğunu gösterir. Korelasyon, değişkenlerin birbirine olan bağımlılık düzeyini ölçer ve birimi yoktur.

### İstatistikte Korelasyon Ne İşe Yarar ?
#### Korelasyon, kovaryans gibi, iki değişken arasındaki ilişkinin yönünü de belirtir ve pozitif bir değer iki değişkenin birlikte artmasına, negatif bir değer ise iki değişkenin birlikte azalmasına işaret eder. Ancak, korelasyon, kovaryansa göre daha kolay anlaşılabilir ve değerlendirilebilir çünkü -1 ile 1 arasında bir skala kullanır ve bu değerler ilişkinin gücünü ifade eder. Korelasyon, veriler arasındaki farklılıkları ölçmek ve verilerin olasılık dağılımlarını tanımlamak için de kullanılabilir.

# --------------------------------------------------------------------------------------------------------------------------

# Betimsel İstatistikler - Uygulama

In [1]:
import seaborn as sns
tips = sns.load_dataset('tips')
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
df.describe().T
# count -> Değişkende ki gözlem miktari
# mean -> Değişkenin ortalaması
# std -> Değişkenin standart sapması
# min -> Değişkende ki minimum değer
# 25%, 50%, 75% -> Değişkende ki kartil değerleri
# max -> Değişkende ki maximum değer

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [3]:
import researchpy as rp

In [4]:
rp.summary_cont(df[['total_bill', 'tip', 'size']])
# Sayısal değişkenler için summary_cont() fonskiyonu kullanılır.
# Variable -> değişken ismi
# N -> count
# Mean -> Ortalama
# SD -> Standart Sapma

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [6]:
rp.summary_cat(df[['sex', 'smoker', 'day']])
# Kategorik değişkenlerin frekanslarına erişmek için summary_cat fonksiyonunu kullandık.
# Bu fonksiyon parametre olarak verdiğimiz değişkenlerin sayı, yüzdelik olarak miktar bilgilerini bize verir.

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [8]:
df[['tip', 'total_bill']].cov()
# cov() fonksiyonu ile değişkenler arasındaki kovaryans değerlerini aldık.
# iki değişkenin kesişimine baktığımızda pozitif yönlü kovaryans görüyoruz.
# Yani total_bill değişkeni arttıkça tip değişkeni de artıyor.

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [11]:
df[['tip', 'total_bill']].corr()
# corr() fonksiyonunu kullanarak değişkenlerin arasındaki korelasyon değerlerini aldık.
# Korelasyon değişkenlerin arasındaki ilişkinin tutarlı olup olmadığı bilgisini verir.
# -1 ile 1 arasında değer alır.
# -1 ile 0 arasında ise ters yönlü korelasyon vardır.
# 0 ile 1 arasında ise doğru yönlü korelasyon vardır.
# total_bill ve tip değişkenleri arasında pozitif yönlü korelasyon vardır. Yani bir değişkenin değeri arttıkça diğeri de artar.

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000